export PATH="$HOME/opt/wine-8.0.2/bin:/usr/gnu/bin:$PATH"
export LD_LIBRARY_PATH="/usr/X11/lib/NVIDIA:$HOME/opt/wine-8.0.2/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
export UMEM_OPTIONS=backend=mmap
export WINEARCH=win32
